@using LYSAdmin.Model;
@using Newtonsoft.Json;
@model LYSAdmin.Model.ApartmentViewModel
@{
    ViewBag.Title = "Apartments";
    //initialize AreaID
    var AreaID = Session["AreaID"] != null ? Convert.ToInt32(Session["AreaID"]) : 0;
    //get all the Areas from Application Variable
    var Areas = System.Web.HttpContext.Current.Application["Areas"] as List<Area>;
    //type of operation to be done(e.g. view,add)

    //storing current user session
    var User = (User)Session["User"];
    
    var showMessage = TempData["Message"] != null ? true : false;

}

<!-- Datatable Css-->
@Styles.Render("~/Content/plugins/dataTables/dataTablesStyles")


@if (TempData["Message"] != null)
{
    <div class="modal inmodal fade in" id="modalShowMessage" tabindex="-1" role="dialog" aria-hidden="false" style="display: block;">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
                    <h4 class="modal-title">Message</h4>
                </div>
                <div class="modal-body">
                    <p>
                        @TempData["Message"]
                    </p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary center-block" data-dismiss="modal">Done</button>
                </div>
            </div>
        </div>
    </div>
}

<div class="modal inmodal" id="modalSelectCityAndArea" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content animated bounceInRight">
            <div class="modal-header">
                <h4 class="modal-title">Select Location</h4>

            </div>
            <div class="modal-body">
                <div class="form-group">
                    <label>City</label>
                    <select id="ddlCity" name="CityID" class="form-control">
                        <option value="" disabled selected>Select City</option>
                        @foreach (var city in System.Web.HttpContext.Current.Application["Cities"] as IList<City>)
                        {

                            <option value="@city.CityID">@city.CityName</option>
                        }
                    </select>

                </div>
                <div id="divArea" class="form-group hidden">
                    <label>Area</label>
                    <select id="ddlArea" name="AreaID" class="form-control"></select>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" id="btnSaveLocation">Save changes</button>
            </div>
        </div>
    </div>
</div>

<!-- modal confirm deletion -->
@*<div class="modal inmodal fade" id="modalConfirmDeletion" tabindex="-1" role="dialog" aria-hidden="false" style="display: block;">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title">Delete Apartment</h4>
            </div>
            <div class="modal-body">
                Are you sure you want to delete <span id="spnApartmentName-ConfirmDeletion"></span> Apartment ?
                <input type="hidden" id="hdnApartmentID-ConfirmDeletion" value="0" />
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-white" data-dismiss="modal">No</button>
                <button type="button" class="btn btn-primary btnSubmit">Yes</button>
            </div>
        </div>
    </div>
</div>*@

@if (Session["AreaID"] != null)
{
    <div class="wrapper wrapper-content animated fadeInRight" id="divApartments" style="display:none">
        <div class="row">
            <div class="col-lg-12">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h5>Apartments</h5>
                        <button class="btn btn-primary pull-right btn-show-add-apartment" type="button" style="margin-top:-1%;">Add</button>
                    </div>
                    <div class="ibox-content">

                        <table class="table table-striped table-bordered table-hover dataTables-apartments">
                            <thead>
                                <tr>
                                    <th>Apartment Name</th>
                                    <th>House No</th>
                                    <th>Description</th>
                                    <th>Add Blocks</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                @if (Model != null && Model.Apartments != null && Model.Apartments.Count > 0)
                                {
                                    foreach (var apartment in Model.Apartments)
                                    {
                                        <tr class="gradeX" id="@apartment.ApartmentID">
                                            <td><a onclick="fnGetApartmentByID(this)" style="cursor:pointer;">@apartment.ApartmentName</a></td>
                                            <td>@apartment.HouseNo</td>
                                            <td>@apartment.Description</td>
                                            <td>
                                                <input type="button" class="btnShowModalBlocks" value="Add Blocks">
                                                <input type="hidden" class="hdnBlocks" value="@JsonConvert.SerializeObject(apartment.Blocks)">
                                            </td>
                                            <td><input type="button" class="btnDeleteApartment" value="Delete"></td>
                                        </tr>
                                    }
                                }
                            </tbody>
                            <tfoot>
                                <tr>
                                    <th>Apartment Name</th>
                                    <th>House No</th>
                                    <th>Description</th>
                                    <th>Add Block</th>
                                    <th>Action</th>
                                </tr>
                            </tfoot>
                        </table>

                    </div>
                </div>
            </div>
        </div>

    </div>

    <div class="row  border-bottom white-bg dashboard-header" style="display:none;" id="divAddApartment">
        @Html.Partial("_AddApartment", Model)
    </div>
    <div class="row  border-bottom white-bg dashboard-header" style="display:none;" id="divEditApartment">
        @Html.Partial("_EditApartment")
    </div>
    @* modal addblocks *@
    <form action="@Url.Action("saveBlock","Estate",FormMethod.Post)" id="saveblockmodal">
        <div class="modal inmodal" id="myModal" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content animated bounceInRight">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                        <h4 class="modal-title">Blocks</h4>

                    </div>
                    <div class="modal-body">
                        <input type="hidden" id="hdnApartmentID" />
                        @*<div class="form-group"><label>Block</label> <input type="text" placeholder="Enter block name" class="form-control"></div>*@
                        <div class="row">
                            <label class="col-md-8">All Blocks</label><a class="col-md-1 glyphicon glyphicon-plus pull-right" id="addnewblock"></a>
                        </div>
                        <div class="form-group" id="divAddBlock">

                        </div>

                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-white" data-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-primary" id="modalblocksave">Save changes</button>
                    </div>
                </div>
            </div>
        </div>
    </form>
}
@section scripts{

    <script>
    //storing AreaID and all Areas in javascript variable
    var AreaID = '@AreaID';
    var Areas = '@Html.Raw(Json.Encode(Areas))';
    //reference url
    var ApartmentsUrl = '@Url.Action("Apartments","Estate")';
    var AddApartmentUrl = '@Url.Action("AddApartment", "Estate")';
    var GetApartmentByIDUrl = '@Url.Action("GetApartmentByID", "Estate")';
    var EditApartmentUrl = '@Url.Action("EditApartment", "Estate")';
    var DeleteApartmentUrl = '@Url.Action("DeleteApartment", "Estate")';
    var SaveBlocskUrl = '@Url.Action("SaveBlocks", "Estate")';
    //updating location
    var UpdateLocationUrl = '@Url.Action("UpdateLocation", "Estate")';

    var showMessage = '@showMessage';
    </script>

    <!-- jQuery DataTable -->
    @Scripts.Render("~/plugins/dataTables")
    @*<script src='@Url.Action("~/Scripts/plugins/fullcalendar/moment.min.js")'></script>*@
    <!--Custom Script for Apartment-->
    <script src='@Url.Content("~/Scripts/Custom/Apartment.js")'></script>
}
