@model LYSAdmin.Model.HouseViewModel
@using LYSAdmin.Model
@using LYSAdmin.Model.Constants;
@using Newtonsoft.Json;

@{
    ViewBag.Title = "House";
    var AreaID = Session["AreaID"] != null ? Convert.ToInt32(Session["AreaID"]) : 0;
    var Areas = System.Web.HttpContext.Current.Application["Areas"] as List<Area>;

    //cityname and areaname
    var CityName = Session["CityName"] != null ? Convert.ToString(Session["CityName"]) : String.Empty;
    var AreaName = Session["AreaName"] != null ? Convert.ToString(Session["AreaName"]) : String.Empty;
    var showMessage = TempData["Message"] != null ? true : false;
    var houseImage = Session["HouseImageList"] != null ? true : false;
    var x = Model.AddedHouseID;
}
<link href='@Url.Content("~/Content/Custom/Houses.css")' rel="stylesheet" />
<!-- Datatable Css-->
@Styles.Render("~/Content/plugins/dataTables/dataTablesStyles")
<!-- check whether city and area is selected or not to do operations in Estate-->

  <div class="modal inmodal fade" id="modalUploadHouseImages" tabindex="-1" role="dialog" aria-hidden="false">
        <div class="modal-dialog">
            <div class="modal-content animated bounceInRight">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
                    <h4 class="modal-title">Upload Images</h4>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        @using (Ajax.BeginForm("SaveHouseImageToServerPath", "Estate", FormMethod.Post, new AjaxOptions { HttpMethod = "POST" }, new { @class = "dropzone", id = "dropzoneForm" }))
                        {
                            @Html.HiddenFor(m => m.AddedHouseID, new { id = "hdnAddedHouseID" })
                             <div class="fallback">
                                <input name="file" type="file" multiple />
                                <input type="submit" value="Upload" />
                              
                            </div>
                        }
                       
                    </div>

                </div>
                <div class="modal-footer">
                    <input type="button" class="btn btn-primary center-block" data-dismiss="modal" value="Upload Images" id="UploadImage"/>
                </div>
            </div>
        </div>
    </div>


<div class="modal inmodal" id="modalSelectCityAndArea" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content animated bounceInRight">
            <div class="modal-header">
                <h4 class="modal-title">Select Location</h4>

            </div>
            <div class="modal-body">
                <div class="form-group">
                    <label>City</label>
                    <select id="ddlCity" name="CityID" class="form-control" required>
                        <option value="" disabled selected>Select City</option>
                        @foreach (var city in System.Web.HttpContext.Current.Application["Cities"] as IList<City>)
                        {

                            <option value="@city.CityID">@city.CityName</option>
                        }
                    </select>

                </div>
                <div id="divArea" class="form-group hidden">
                    <label>Area</label>
                    <select id="ddlArea" name="AreaID" class="form-control" required></select>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" id="btnSaveLocation">Save changes</button>
            </div>
        </div>
    </div>
</div>

@if (Session["AreaID"] != null)
{
    <!-- View Houses -->
    <div class="wrapper wrapper-content animated fadeInRight" id="divHouses" style="display:none">
        <div class="row">
            <div class="col-lg-12">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h5>Houses</h5>
                        <button class="btn btn-primary pull-right btn-show-add-house" type="button" style="margin-top:-1%;">Add</button>
                    </div>
                    <div class="ibox-content">
                        <div>
                            <div id="tblRoomHeader" class="row">
                                <div class="col-md-3"><h4>House</h4></div>
                                <div class="col-md-3"><h4>PG/Hostel Name</h4></div>
                                <div class="col-md-2"><h4>Gender</h4></div>
                                <div class="col-md-2"><h4>View Amenities</h4></div>
                                <div class="col-md-2"><h4>Action</h4></div>
                            </div>
                           @if (Model != null && Model.PGDetails != null && Model.PGDetails.Count > 0)
                                {
                                    foreach (var pgDetails in Model.PGDetails)
                                    {
                                        if (pgDetails.Houses != null && pgDetails.Houses.Count > 0)
                                        {
                                            foreach (var house in pgDetails.Houses)
                                            {
                                            <div class="row row-padding-top-1 border-bottom padding-left divRowHouse">
                                            <div class="col-md-3">
                                                <input type="hidden" name="RoomID" value="@house.HouseID" />
                                                @house.HouseName
                                            </div>
                                            <div class="col-md-3">@pgDetails.PGName</div>
                                            <div class="col-md-2">@(house.Gender == 1 ? "Male" : "Female")</div>
                                            <div class="col-md-2"><input type="button" class="btnViewAmenities" value="Amenities"></div>
                                            <div class="col-md-2"><input type="button" class="btnDeleteHouse" value="Delete"></div>
                                                <div class="col-md-12  row-padding-top-3">
                                                    <div class="row divAmenities hidden">
                                                        
                                                            @foreach (var HouseAmenity in house.HouseAmenities)
                                                            {
                                                                if (HouseAmenity.AC)
                                                                {
                                                                    <div class="col-xs-6 col-sm-6 col-md-4 col-lg-4 amItem row-padding-top-3 text-center"><span class="fa fa-asterisk"></span> Air Conditioning</div>
                                                                } if (HouseAmenity.Aquaguard)
                                                                {
                                                                    <div class="col-xs-6 col-sm-6 col-md-4 col-lg-4 amItem row-padding-top-3  text-center"><span class="icon-drop"></span> Water Purifier</div>
                                                                }
                                                                if (HouseAmenity.AttachBathrooms)
                                                                {
                                                                    <div class="col-xs-6 col-sm-6 col-md-4 col-lg-4 amItem row-padding-top-3 text-center"><span class="fa fa-wheelchair"></span> AttachBathrooms</div>
                                                                } if (HouseAmenity.Clubhouse)
                                                                {
                                                                    <div class="col-xs-6 col-sm-6 col-md-4 col-lg-4 amItem row-padding-top-3 text-center"><span class="fa fa-bank"></span> Club</div>
                                                                } if (HouseAmenity.CommonTV)
                                                                {
                                                                    <div class="col-xs-6 col-sm-6 col-md-4 col-lg-4 amItem row-padding-top-3  text-center"><span class="fa fa-users"></span><span class="icon-screen-desktop"></span> Common TV</div>
                                                                } if (HouseAmenity.EmergencyMedicalServices)
                                                                {
                                                                    <div class="col-xs-6 col-sm-6 col-md-4 col-lg-4 amItem row-padding-top-3  text-center"><span class="fa fa-ambulance"></span> Emergency Medical Services</div>
                                                                } if (HouseAmenity.FourWheelerCloseParking)
                                                                {
                                                                    <div class="col-xs-6 col-sm-6 col-md-4 col-lg-4 amItem row-padding-top-3  text-center"><span class="fa fa-car"></span> Four Wheeler Parking</div>
                                                                } if (HouseAmenity.Fridge)
                                                                {
                                                                    <div class="col-xs-6 col-sm-6 col-md-4 col-lg-4 amItem row-padding-top-3  text-center"><span class="glyphicon-asterisk"></span> Refrigerator</div>
                                                                } if (HouseAmenity.GYM)
                                                                {
                                                                    <div class="col-xs-6 col-sm-6 col-md-4 col-lg-4 amItem row-padding-top-3  text-center"><span class="fa fa-arrows-h"></span> GYM</div>
                                                                } if (HouseAmenity.HotColdWaterSupply)
                                                                {
                                                                    <div class="col-xs-6 col-sm-6 col-md-4 col-lg-4 amItem row-padding-top-3  text-center"><span class="fa fa-arrows-h"></span> HotColdWaterSupply</div>
                                                                } if (HouseAmenity.Housekeeping)
                                                                {
                                                                    <div class="col-xs-6 col-sm-6 col-md-4 col-lg-4 amItem row-padding-top-3  text-center"><span class="fa fa-arrows-h"></span> Housekeeping</div>
                                                                } if (HouseAmenity.IndividualTV)
                                                                {
                                                                    <div class="col-xs-6 col-sm-6 col-md-4 col-lg-4 amItem row-padding-top-3  text-center"><span class="fa fa-arrows-h"></span> Individual TV</div>
                                                                } if (HouseAmenity.IntercomFacility)
                                                                {
                                                                    <div class="col-xs-6 col-sm-6 col-md-4 col-lg-4 amItem row-padding-top-3  text-center"><span class="fa fa-arrows-h"></span> Intercom Facility</div>
                                                                } if (HouseAmenity.IroningWashingServices)
                                                                {
                                                                    <div class="col-xs-6 col-sm-6 col-md-4 col-lg-4 amItem row-padding-top-3  text-center"><span class="fa fa-arrows-h"></span> Laundry Service</div>
                                                                } if (HouseAmenity.KitchenFacilityWithGas)
                                                                {
                                                                    <div class="col-xs-6 col-sm-6 col-md-4 col-lg-4 amItem row-padding-top-3  text-center"><span class="fa fa-arrows-h"></span> Kitchen Facility With Gas</div>
                                                                } if (HouseAmenity.Lift)
                                                                {
                                                                    <div class="col-xs-6 col-sm-6 col-md-4 col-lg-4 amItem row-padding-top-3  text-center"><span class="fa fa-arrows-h"></span> Lift</div>
                                                                } if (HouseAmenity.Lockers)
                                                                {
                                                                    <div class="col-xs-6 col-sm-6 col-md-4 col-lg-4 amItem row-padding-top-3  text-center"><span class="fa fa-arrows-h"></span> Lockers</div>
                                                                } if (HouseAmenity.Newspaper)
                                                                {
                                                                    <div class="col-xs-6 col-sm-6 col-md-4 col-lg-4 amItem row-padding-top-3  text-center"><span class="fa fa-arrows-h"></span> Newspaper</div>
                                                                } if (HouseAmenity.Partyhall)
                                                                {
                                                                    <div class="col-xs-6 col-sm-6 col-md-4 col-lg-4 amItem row-padding-top-3  text-center"><span class="fa fa-arrows-h"></span> Party Hall</div>
                                                                } if (HouseAmenity.Playground)
                                                                {
                                                                    <div class="col-xs-6 col-sm-6 col-md-4 col-lg-4 amItem row-padding-top-3  text-center"><span class="fa fa-arrows-h"></span> Playground</div>
                                                                } if (HouseAmenity.Powerbackup)
                                                                {
                                                                    <div class="col-xs-6 col-sm-6 col-md-4 col-lg-4 amItem row-padding-top-3  text-center"><span class="fa fa-arrows-h"></span> Power backup</div>
                                                                } if (HouseAmenity.RoomService)
                                                                {
                                                                    <div class="col-xs-6 col-sm-6 col-md-4 col-lg-4 amItem row-padding-top-3  text-center"><span class="fa fa-arrows-h"></span> Room Service</div>
                                                                } if (HouseAmenity.Security)
                                                                {
                                                                    <div class="col-xs-6 col-sm-6 col-md-4 col-lg-4 amItem row-padding-top-3  text-center"><span class="fa fa-arrows-h"></span> Security</div>
                                                                } if (HouseAmenity.SwimmingPool)
                                                                {
                                                                    <div class="col-xs-6 col-sm-6 col-md-4 col-lg-4 amItem row-padding-top-3  text-center"><span class="fa fa-arrows-h"></span> Swimming Pool</div>
                                                                } if (HouseAmenity.TwoWheelerCloseParking)
                                                                {
                                                                    <div class="col-xs-6 col-sm-6 col-md-4 col-lg-4 amItem row-padding-top-3  text-center"><span class="fa fa-arrows-h"></span> Two Wheeler Parking</div>
                                                                } if (HouseAmenity.VideoSurveillance)
                                                                {
                                                                    <div class="col-xs-6 col-sm-6 col-md-4 col-lg-4 amItem row-padding-top-3  text-center"><span class="fa fa-arrows-h"></span> VideoSurveillance</div>
                                                                } if (HouseAmenity.Wardrobes)
                                                                {
                                                                    <div class="col-xs-6 col-sm-6 col-md-4 col-lg-4 amItem row-padding-top-3  text-center"><span class="fa fa-arrows-h"></span> Wardrobes</div>
                                                                } if (HouseAmenity.Washingmachine)
                                                                {
                                                                    <div class="col-xs-6 col-sm-6 col-md-4 col-lg-4 amItem row-padding-top-3  text-center"><span class="glyphicon-tint"></span> Washing Machine</div>
                                                                } if (HouseAmenity.WaterSupply)
                                                                {
                                                                    <div class="col-xs-6 col-sm-6 col-md-4 col-lg-4 amItem row-padding-top-3  text-center"><span class="icon-drop"></span> 24/7 Water Supply</div>
                                                                } if (HouseAmenity.Wifi)
                                                                {
                                                                    <div class="col-xs-6 col-sm-6 col-md-4 col-lg-4 amItem row-padding-top-3  text-center"><span class="fa fa-wifi"></span> Wifi</div>
                                                                }

                                                            }
                                                       
                                                    </div>
                                                </div>
                                            </div>
                                            }
                                        }
                                    }
                                 }
                                
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>

  <!-- Add House-->
    <div class="row  border-bottom white-bg dashboard-header" style="display:none;" id="divAddHouse">
        @Html.Partial("_AddHouse", Model)
    </div><!-- End Add House -->
}
@section Styles {
    @Styles.Render("~/Content/plugins/dropzone/dropZoneStyles")
}
@section scripts{

    <!-- variables -->
    <script>
        var AreaID = '@AreaID';
        var Areas = '@Html.Raw(Json.Encode(Areas))';

        //passing CityName and AreaName to Houses.js
        var cityname = '@CityName';
        var areaname = '@AreaName';

        //reference url
        var HousesUrl = '@Url.Action("Houses","Estate")';
        var UpdateLocationUrl = '@Url.Action("UpdateLocation", "Estate")';
        var GetPGsByOwnerIDandAreaIDUrl = '@Url.Action("GetPGsByOwnerIDandAreaID", "Estate")';
        var ImageUploadUrl = '@Url.Action("HouseImageUpload", "Estate")';
        var AddedHouseID = '@Model.AddedHouseID';
    </script>
    @Scripts.Render("~/plugins/dataTables")
    @Scripts.Render("~/plugins/dropZone")
     <script src='@Url.Content("~/Scripts/plugins/jquery-ui/jquery-ui.min.js")'></script>
    

    <!-- Custom javascript of Houses -->
    <script src='@Url.Content("~/Scripts/Custom/Houeses.js")'></script>

}
