@model LYSAdmin.Model.HouseViewModel
@using Newtonsoft.Json;
@{
    ViewBag.Title = "House";
}
<link href='@Url.Content("~/Content/Custom/Houses.css")' rel="stylesheet" />

<!-- View Houses -->
<div class="row  border-bottom white-bg dashboard-header" style="display:none;" id="divHouses">

</div><!-- End View Houses -->

<!-- Add House-->
<div class="row  border-bottom white-bg dashboard-header"  id="divAddHouse">
    @Html.Partial("_AddHouse",Model)   
</div><!-- End Add House -->

@section Styles {
    @Styles.Render("~/Content/plugins/dropzone/dropZoneStyles")
}
@section scripts{
    <script src="http://maps.googleapis.com/maps/api/js?sensor=true&amp;libraries=geometry&amp;libraries=places" type="text/javascript"></script>
    <script src='@Url.Content("~/Scripts/plugins/jquery-ui/jquery-ui.min.js")'></script>

    @Scripts.Render("~/plugins/dropZone")
    <script>
        //reference url
        var HousesUrl = '@Url.Action("Houses","Estate")';
    </script>
    <!-- Custom javascript of Houses -->
    <script src='@Url.Content("~/Scripts/Custom/Houeses.js")'></script>

}
