@model LYSAdmin.Model.HouseViewModel
@using LYSAdmin.Model
@using LYSAdmin.Model.Constants;
@using Newtonsoft.Json;

@{
    ViewBag.Title = "House";
    var AreaID = Session["AreaID"] != null ? Convert.ToInt32(Session["AreaID"]) : 0;
    var Areas = System.Web.HttpContext.Current.Application["Areas"] as List<Area>;

    //cityname and areaname
    var CityName = Session["CityName"] != null ? Convert.ToString(Session["CityName"]) : String.Empty;
    var AreaName = Session["AreaName"] != null ? Convert.ToString(Session["AreaName"]) : String.Empty;
}
<link href='@Url.Content("~/Content/Custom/Houses.css")' rel="stylesheet" />
<!-- Datatable Css-->
@Styles.Render("~/Content/plugins/dataTables/dataTablesStyles")
<!-- check whether city and area is selected or not to do operations in Estate-->

@if (TempData.Count > 0 && (bool)TempData["bHouseImageUpload"] == true)
{
    <div class="modal inmodal fade in" id="modalUploadHouseImages" tabindex="-1" role="dialog" aria-hidden="false" style="display: block;">
        <div class="modal-dialog">
            <div class="modal-content animated bounceInRight">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
                    <h4 class="modal-title">Upload Images</h4>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <form action="~/Estate/HouseImageUpload" method="post" enctype="multipart/form-data" class="dropzone" id="dropzoneForm">
                            <div class="fallback">
                                <input name="file" type="file" multiple />
                                <input type="submit" value="Upload" />
                                <input type="hidden" name="AddedHouseID">
                            </div>
                        </form>
                    </div>

                </div>

            </div>
        </div>
    </div>
}
else if (TempData.Count > 0 && (bool)TempData["bHouseImageUpload"] == false && TempData["Message"] != null)
{
    <div class="modal inmodal fade in" id="modalShowMessage" tabindex="-1" role="dialog" aria-hidden="false" style="display: block;">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
                    <h4 class="modal-title">Message</h4>
                </div>
                <div class="modal-body">
                    <p>
                        @TempData["Message"]
                    </p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary center-block" data-dismiss="modal">Done</button>
                </div>
            </div>
        </div>
    </div>
}

@if (TempData["Message"] != null)
{
     <div class="modal inmodal fade in" id="modalShowMessage" tabindex="-1" role="dialog" aria-hidden="false" style="display: block;">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
                    <h4 class="modal-title">Message</h4>
                </div>
                <div class="modal-body">
                    <p>
                        @TempData["Message"]
                    </p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary center-block" data-dismiss="modal">Done</button>
                </div>
            </div>
        </div>
    </div>
}

<div class="modal inmodal" id="modalSelectCityAndArea" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content animated bounceInRight">
            <div class="modal-header">
                <h4 class="modal-title">Select Location</h4>

            </div>
            <div class="modal-body">
                <div class="form-group">
                    <label>City</label>
                    <select id="ddlCity" name="CityID" class="form-control" required>
                        <option value="" disabled selected>Select City</option>
                        @foreach (var city in System.Web.HttpContext.Current.Application["Cities"] as IList<City>)
                        {

                            <option value="@city.CityID">@city.CityName</option>
                        }
                    </select>

                </div>
                <div id="divArea" class="form-group hidden">
                    <label>Area</label>
                    <select id="ddlArea" name="AreaID" class="form-control" required></select>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" id="btnSaveLocation">Save changes</button>
            </div>
        </div>
    </div>
</div>

@if (Session["AreaID"] != null)
{
    <!-- View Houses -->
    <div class="wrapper wrapper-content animated fadeInRight" id="divHouses" style="display:none">
        <div class="row">
            <div class="col-lg-12">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h5>Houses</h5>
                        <button class="btn btn-primary pull-right btn-show-add-house" type="button" style="margin-top:-1%;">Add</button>
                    </div>
                    <div class="ibox-content">

                        <table class="table table-striped table-bordered table-hover dataTables-houses">
                            <thead>
                                <tr>
                                    <th>House</th>
                                    <th>PG/Hostel Name</th>
                                    <th>Apartment</th>
                                    <th>Block</th>
                                    <th>Gender</th>
                                    <th>View Amenities</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                @if (Model != null && Model.PGDetails != null && Model.PGDetails.Count > 0)
                                {
                                    foreach (var pgDetails in Model.PGDetails)
                                    {
                                        if (pgDetails.Apartments != null && pgDetails.Apartments.Count > 0)
                                        {
                                            foreach (var apartment in pgDetails.Apartments)
                                            {
                                                if (apartment.Blocks != null && apartment.Blocks.Count > 0)
                                                {
                                                    foreach (var block in apartment.Blocks)
                                                    {
                                                        if (block.Houses != null && block.Houses.Count > 0)
                                                        {
                                                            foreach (var house in block.Houses)
                                                            {
                                                                <tr class="gradeX" id="@house.HouseID">
                                                                    <td>@house.HouseName</td>
                                                                    <td>@pgDetails.PGName</td>
                                                                    <td>@(apartment.ApartmentName.StartsWith(Constants.DEFAULT_APARTMENT) ? "N/A" : apartment.ApartmentName)</td>
                                                                    <td>@(block.BlockName.StartsWith(Constants.DEFAULT_BLOCK) ? "N/A" : block.BlockName)</td>
                                                                    <td>@(house.Gender == 1 ? "Male" : "Female")</td>
                                                                    <td>
                                                                        <input type="button" class="btnShowModalAmenities" value="View Amenities">
                                                                        <input type="hidden" class="hdnAmenities" value="@JsonConvert.SerializeObject(house.HouseAmenities)">
                                                                    </td>
                                                                    <td><input type="button" class="btnDeleteHouse" value="Delete"></td>
                                                                </tr>
                                                            }

                                                        }
                                                    }
                                                }

                                            }
                                        }
                                    }
                                }
                            </tbody>
                            <tfoot>
                                <tr>
                                    <th>House</th>
                                    <th>PG/Hostel Name</th>
                                    <th>Apartment</th>
                                    <th>Block</th>
                                    <th>Gender</th>
                                    <th>View Amenities</th>
                                    <th>Action</th>
                                </tr>
                            </tfoot>
                        </table>

                    </div>
                </div>
            </div>
        </div>

    </div>

  <!-- Add House-->
    <div class="row  border-bottom white-bg dashboard-header" style="display:none;" id="divAddHouse">
        @Html.Partial("_AddHouse", Model)
    </div><!-- End Add House -->
}
@section Styles {
    @Styles.Render("~/Content/plugins/dropzone/dropZoneStyles")
}
@section scripts{

    <!-- variables -->
    <script>
        var AreaID = '@AreaID';
        var Areas = '@Html.Raw(Json.Encode(Areas))';

        //passing CityName and AreaName to Housees.js
        var cityname = '@CityName';
        var areaname = '@AreaName';

        //reference url
        var HousesUrl = '@Url.Action("Houses","Estate")';
        var UpdateLocationUrl = '@Url.Action("UpdateLocation", "Estate")';
        var GetPGsByOwnerIDandAreaIDUrl = '@Url.Action("GetPGsByOwnerIDandAreaID", "Estate")';
        var ImageUploadUrl = '@Url.Action("HouseImageUpload", "Estate")';

    </script>
    @Scripts.Render("~/plugins/dataTables")
    @Scripts.Render("~/plugins/dropZone")
     <script src='@Url.Content("~/Scripts/plugins/jquery-ui/jquery-ui.min.js")'></script>
    

    <!-- Custom javascript of Houses -->
    <script src='@Url.Content("~/Scripts/Custom/Houeses.js")'></script>

}
