@model LYSAdmin.Model.RoomViewModel
@using LYSAdmin.Model

@{
    ViewBag.Title = "Rooms";

    var AreaID = Session["AreaID"] != null ? Convert.ToInt32(Session["AreaID"]) : 0;
    var Areas = System.Web.HttpContext.Current.Application["Areas"] as List<Area>;

    //cityname and areaname
    var CityName = Session["CityName"] != null ? Convert.ToString(Session["CityName"]) : String.Empty;
    var AreaName = Session["AreaName"] != null ? Convert.ToString(Session["AreaName"]) : String.Empty;
    var showMessage = TempData["Message"] != null ? true : false;
  
}
<link href='@Url.Content("~/Content/Custom/Rooms.css")' rel="stylesheet" />
@Styles.Render("~/Content/plugins/dataTables/dataTablesStyles")
<div class="modal inmodal" id="modalSelectCityAndArea" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content animated bounceInRight">
            <div class="modal-header">
                <h4 class="modal-title">Select Location</h4>

            </div>
            <div class="modal-body">
                <div class="form-group">
                    <label>City</label>
                    <select id="ddlCity" name="CityID" class="form-control" required>
                        <option value="" disabled selected>Select City</option>
                        @foreach (var city in System.Web.HttpContext.Current.Application["Cities"] as IList<City>)
                        {

                            <option value="@city.CityID">@city.CityName</option>
                        }
                    </select>

                </div>
                <div id="divArea" class="form-group hidden">
                    <label>Area</label>
                    <select id="ddlArea" name="AreaID" class="form-control" required></select>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" id="btnSaveLocation">Save changes</button>
            </div>
        </div>
    </div>
</div>

@if (Session["AreaID"] != null)
{
<div class="wrapper wrapper-content animated fadeInRight" id="divRooms" style="display:none">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>Rooms</h5>
                    <button class="btn btn-primary pull-right btn-show-add-room" type="button" style="margin-top:-1%;">Add</button>
                </div>
                <div class="ibox-content">
                    <div>
                        <div id="tblRoomHeader" class="row">
                            <div class="col-md-2"><h4>Room Number</h4></div>
                            <div class="col-md-2"><h4>PG/Hostel Name</h4></div>
                            <div class="col-md-2"><h4>House Name</h4></div>
                            <div class="col-md-2"><h4>Monthly Rent</h4></div>
                            <div class="col-md-2"><h4>View Bed</h4></div>
                            <div class="col-md-2"><h4>Action</h4></div>
                        </div>
                        @if (Model.PGDetails != null && Model.PGDetails.Count > 0)
                           {
                               foreach (var pgDetail in Model.PGDetails)
                               {
                                   if (pgDetail.Houses != null && pgDetail.Houses.Count > 0)
                                   {
                                       foreach (var house in pgDetail.Houses)
                                       {
                                           if (house.Rooms != null && house.Rooms.Count > 0)
                                           {
                                               foreach (var room in house.Rooms)
                                               {
                                                <div class="row row-padding-top-1 border-bottom padding-left divRowRoom">
                                                    <div class="col-md-2">
                                                        <input type="hidden" name="RoomID" value="@room.RoomID" />
                                                        @room.RoomNumber
                                                    </div>
                                                    <div class="col-md-2">@pgDetail.PGName</div>
                                                    <div class="col-md-2">@house.HouseName</div>
                                                    <div class="col-md-2">@room.MonthlyRent</div>
                                                    <div class="col-md-2"><input type="button" class="btnViewBed" value="View Bed"></div>
                                                    <div class="col-md-2"><input type="button" class="btnDeleteHouse" value="Delete"></div>
                                                    <div class="col-md-12  row-padding-top-3">
                                                        <div class="row divViewBed hidden">
                                                            <div class="row gray-bg" style="padding:10px">
                                                                <div class="col-md-5 room margin_4_pc">
                                                                    <div class="row">
                                                                       @if (room.Beds != null && room.Beds.Count > 0)
                                                                       {
                                                                           foreach (var bed in room.Beds)
                                                                           {
                                                                               if (bed.BedStatus == 4)
                                                                               {
                                                                                   <div class="col-md-4"><a href="#" class="bed_inactive"><i class="fa fa-bed fa-2x"></i></a></div>
                                                                               }
                                                                               else
                                                                               {
                                                                                   <div class="col-md-4"><a href="#" class="bed_active"><i class="fa fa-bed fa-2x"></i></a></div>
                                                                               }
                                                                                
                                                                           }
                                                                       }
                                                                      </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            }
                                        }
                                    }
                                }
                            }
                        }


                    </div>

                </div>
            </div>
        </div>
    </div>

</div>
    
<div class="row  border-bottom white-bg dashboard-header" style="display:none;" id="divAddRoom">
   @Html.Partial("_AddRoom", Model)
</div><!-- End Add Room -->
}


@section scripts{

    <script>
        var AreaID = '@AreaID';
        var Areas = '@Html.Raw(Json.Encode(Areas))';

        //passing CityName and AreaName to Housees.js
        var cityname = '@CityName';
        var areaname = '@AreaName';

        //reference url
        var RoomsUrl = '@Url.Action("Rooms","Estate")';
        var UpdateLocationUrl = '@Url.Action("UpdateLocation", "Estate")';
    </script>
    @Scripts.Render("~/plugins/dataTables")
    <script src='@Url.Content("~/Scripts/plugins/jquery-ui/jquery-ui.min.js")'></script>
    <script src='@Url.Content("~/Scripts/Custom/Room.js")'></script>
}
