@model LYSAdmin.Model.Room
@using LYSAdmin.Model

@{
    ViewBag.Title = "Rooms";

    var AreaID = Session["AreaID"] != null ? Convert.ToInt32(Session["AreaID"]) : 0;
    var Areas = System.Web.HttpContext.Current.Application["Areas"] as List<Area>;

    //cityname and areaname
    var CityName = Session["CityName"] != null ? Convert.ToString(Session["CityName"]) : String.Empty;
    var AreaName = Session["AreaName"] != null ? Convert.ToString(Session["AreaName"]) : String.Empty;
    var showMessage = TempData["Message"] != null ? true : false;
  
}
<link href='@Url.Content("~/Content/Custom/Rooms.css")' rel="stylesheet" />

<div class="modal inmodal" id="modalSelectCityAndArea" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content animated bounceInRight">
            <div class="modal-header">
                <h4 class="modal-title">Select Location</h4>

            </div>
            <div class="modal-body">
                <div class="form-group">
                    <label>City</label>
                    <select id="ddlCity" name="CityID" class="form-control" required>
                        <option value="" disabled selected>Select City</option>
                        @foreach (var city in System.Web.HttpContext.Current.Application["Cities"] as IList<City>)
                        {

                            <option value="@city.CityID">@city.CityName</option>
                        }
                    </select>

                </div>
                <div id="divArea" class="form-group hidden">
                    <label>Area</label>
                    <select id="ddlArea" name="AreaID" class="form-control" required></select>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" id="btnSaveLocation">Save changes</button>
            </div>
        </div>
    </div>
</div>
<div class="row  border-bottom white-bg dashboard-header">
    <!--Center Content-->
    <div class="col-sm-12">
        @*<div class="row">
                <div class="col-md-12">
                    <button class="btn btn-primary pull-right" type="button" tabindex="4">View All</button>
                </div>
            </div>*@
        <div class="row">
            <div class="col-sm-10">
                <h3 class="m-t-none m-b">Add new Room</h3>
                @*<p>Add new Apartment today for more expirience.</p>*@
                <br />
                <!-- Button trigger modal -->
                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal">
                    Add
                </button>
                <br/>
                <br/>
                @*<div class="row gray-bg" style="padding:10px">
                    <div class="col-md-5 room margin_4_pc">
                        <div class="row">
                            <div class="col-md-4"><a href="#" class="bed_inactive"><i class="fa fa-bed fa-2x"></i></a></div>
                            <div class="col-md-4"><a href="#" class="bed_active"><i class="fa fa-bed fa-2x"></i></a></div>
                            <div class="col-md-4"><a href="#" class="bed_inactive"><i class="fa fa-bed fa-2x"></i></a></div>
                            <div class="col-md-4"><a href="#" class="bed_inactive"><i class="fa fa-bed fa-2x"></i></a></div>
                        </div>
                    </div>

                    <div class="col-md-5 room col-md-offset-1">
                        <div class="row">
                            <div class="col-md-4"><a href="#" class="bed_inactive"><i class="fa fa-bed fa-2x"></i></a></div>
                            <div class="col-md-4"><a href="#" class="bed_active"><i class="fa fa-bed fa-2x"></i></a></div>
                        </div>
                    </div>
                </div>*@
                <!-- Add Room-->
                <div class="row  border-bottom white-bg dashboard-header" style="display:none;" id="divAddRoom">
                    @Html.Partial("_AddRoom", Model)
                </div><!-- End Add Room -->
            </div>
        </div>
    </div>
    
</div>

@section scripts{

    <script>
        //reference url
        var HousesUrl = '@Url.Action("Houses","Properties")';

        $(document).ready(function () {
            charlimit();
            inputkeyup();
            $('#btnCancel').click(function () {
                window.location = HousesUrl;
            });

            //$.validator.unobtrusive.parse($("form"));
            //$('.btnSave').click(function () {
            //    $('#add-apartment-form').submit();
            //});
        });

        //show the limit of char left
        function charlimit() {
            $("form :input").each(function () {
                var input = $(this); // This is the jquery object of the input, do what you will
                if (input.parent().find("span.span-char-left").length) {
                    input.parent().find("span.span-char-left").text((input.attr("maxlength")) - (input.val().trim().length));
                }
                //alert(input.attr("type"));
            });
        };

        //keyup event for all inputs
        function inputkeyup() {
            $("form :input").each(function () {
                var input = $(this);
                input.keyup(function () {
                    if (input.parent().find("span.span-char-left").length) {
                        input.parent().find("span.span-char-left").text((input.attr("maxlength")) - (input.val().trim().length));
                    }
                });
            })
        };

    </script>
}
